<form action="/results" method="post">
  <p>Paragraphs</p>
  <input type="integer" name="paragraphs">
  <p>Sentences</p>
  <input type="integer" name="sentences">
  <p>Pages</p>
  <input type="integer" name="pages">
  <br>
  <input type="submit">
</form>

<%  %>